@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide-desktop {
    display: none !important;
  }
}

.show-mobile {
  display: none !important;
}

.show-tablet {
  display: none !important;
}

.show-desktop {
  display: none !important;
}

@media (max-width: 768px) {
  .show-mobile {
    display: block !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .show-tablet {
    display: block !important;
  }
}

@media (min-width: 1025px) {
  .show-desktop {
    display: block !important;
  }
}